<div style="width:400px;">
    <p>{{localize "pf2e-monster-parts.dialog.assign-material-dialog.contents"}}</p>
    <range-picker value="{{maxValue}}" min="0" max="{{maxValue}}" step="{{step}}" name="value"></range-picker>
    {{{skipButtonsLevel}}}
    {{{skipButtonsWhole}}}
    <div id="hint-strings">{{{hintText}}}
    </div>
</div>