<div style="width:400px;">
    <p>{{localize "pf2e-monster-parts.dialog.extract-material-dialog.contents"}}</p>
    <div class="form-group">
        <range-picker value="0" min="0" max="{{maxValue}}" step="{{step}}"
                      name="value"></range-picker>
    </div>
    {{{skipButtonsLevel}}}
    <div id="hint-strings">{{{hintText}}}
    </div>
</div>