<div>
    <label for="material-value">{{localize "pf2e-monster-parts.dialog.monster-part-editor.value"}}</label>
    <input type="number" name="material-value" id="material-value" value="{{settings.value}}" step="0.1" />
    <table>
        <tr>
            <td>
                <fieldset>
                    <legend>{{localize "pf2e-monster-parts.dialog.monster-part-editor.refinements"}}</legend>
                    <div style="overflow-y:scroll;height:400px;">
                        {{#each settings.refinements}}
                            <p>
                                <input type="checkbox" name="{{this.key}}" id="{{this.key}}" {{checked this.checked}}/>
                                <label for="{{this.key}}">{{localize this.label}}</label>
                            </p>
                        {{/each}}</div>
                </fieldset>
            </td>
            <td>
                <fieldset>
                    <legend>{{localize "pf2e-monster-parts.dialog.monster-part-editor.imbues"}}</legend>
                    <div style="overflow-y:scroll;height:400px;">
                        {{#each settings.imbues}}
                            <p>
                                <input type="checkbox" name="{{this.key}}" id="{{this.key}}" {{checked this.checked}}/>
                                <label for="{{this.key}}">{{localize this.label}}</label>
                            </p>
                        {{/each}}
                    </div>
                </fieldset>
            </td>
        </tr>
    </table>
</div>