<div class="refined-item-header addendum">
    <h3>{{localize "pf2e-monster-parts.refined-item.label"}}</h3>
    <p><strong>{{refinement.label}} ({{localize "pf2e-monster-parts.refined-item.material-label-details"
                                                level=refinement.level value=refinement.value}})</strong>{{#if
        refinement.flavor}} {{{refinement.flavor}}}{{/if}}</p>
    {{#if (gt refinement.notes.length 0)}}
        <ul>
            {{#each refinement.notes}}
                <li>{{{this}}}</li>
            {{/each}}
        </ul>
    {{/if}}
    {{#if (gt imbues.length 0)}}
        <hr>{{/if}}
    {{#each imbues as |imbue|}}
        <p><strong><a
            onclick="game.modules.get('pf2e-monster-parts').api.renderSummaryJournal('{{imbue.key}}')">{{imbue.label}}</a>
            ({{localize "pf2e-monster-parts.refined-item.material-label-details" level=imbue.level value=imbue.value}})</strong>{{#if
            imbue.flavor}} {{{imbue.flavor}}}{{/if}}</p>
        {{#if (gt imbue.notes.length 0)}}
            <ul>
                {{#each imbue.notes}}
                    <li>{{{this}}}</li>
                {{/each}}
            </ul>
        {{/if}}
    {{/each}}
</div>